@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,400;0,700;1,300&display=swap");

:root {
  --animation-duration: 2s;
}

.unscrollable {
  overflow: hidden;
  height: 100%;
}

.speero-splash-wrapper,
.speero-news {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fbf8ec;
}

.speero-splash-wrapper {
  overflow: hidden;
  z-index: 100;
  -webkit-animation: fadeOut 0.5s ease-in-out forwards calc(var(--animation-duration) + 2.5s + 2s);
  animation: fadeOut 0.5s ease-in-out forwards calc(var(--animation-duration) + 2.5s + 2s); /*the button appears after var(--animation-duration) + 2.5s. We hide the overlay 2s after the button is visible*/
}

.speero-news {
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.speero-splash-wrapper .splash-svg {
  /* -webkit-animation: splashEffect var(--animation-duration) cubic-bezier(0, 0.8, 1, 1) forwards 0.5s;
  animation: splashEffect var(--animation-duration) cubic-bezier(0, 0.8, 1, 1) forwards 0.5s; */
  -webkit-animation: splashEffect var(--animation-duration) ease-in-out forwards 0.5s;
  animation: splashEffect var(--animation-duration) ease-in-out forwards 0.5s;
}

.speero-gympass-line svg {
  float: left;
  margin: 0 5px;
  -webkit-animation: fadeInFromTop 0.3s cubic-bezier(0.22, 0, 0.98, 0.61) both;
  animation: fadeInFromTop 0.3s cubic-bezier(0.22, 0, 0.98, 0.61) both;
}

.speero-gympass-line svg:nth-child(1) {
  -webkit-animation-delay: calc(var(--animation-duration) + 0.5s);
  animation-delay: calc(var(--animation-duration) + 0.5s);
}

.speero-gympass-line svg:nth-child(2) {
  margin-bottom: 6px;
  margin-top: 6px;
  margin-left: 20px;
  -webkit-animation-delay: calc(var(--animation-duration) + 1s);
  animation-delay: calc(var(--animation-duration) + 1s);
}

.speero-wellness-line {
  margin-top: 38px;
  -webkit-animation: fadeInFromTop 0.3s cubic-bezier(0.22, 0, 0.98, 0.61) both;
  animation: fadeInFromTop 0.3s cubic-bezier(0.22, 0, 0.98, 0.61) both;
  -webkit-animation-delay: calc(var(--animation-duration) + 1.5s);
  animation-delay: calc(var(--animation-duration) + 1.5s);
}

.speero-coming-line {
  margin: 137px auto;
  -webkit-animation: fadeIn 0.3s cubic-bezier(0.94, 0.22, 0.51, 0.91) both;
  animation: fadeIn 0.3s cubic-bezier(0.94, 0.22, 0.51, 0.91) both;
  -webkit-animation-delay: calc(var(--animation-duration) + 2s);
  animation-delay: calc(var(--animation-duration) + 2s);
}

.speero-splash-wrapper button {
  padding: 16px 32px;
  border-radius: 35px;
  background: #d8385e;
  color: white;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  -webkit-animation: bounce 1s cubic-bezier(0.22, 0, 0.98, 0.61) both;
  animation: bounce 1s cubic-bezier(0.22, 0, 0.98, 0.61) both;
  -webkit-animation-delay: calc(var(--animation-duration) + 2.5s);
  animation-delay: calc(var(--animation-duration) + 2.5s);
}

.speero-splash-wrapper button:hover {
  cursor: pointer;
}

@media (max-width: 767px) {
  .speero-gympass-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .speero-gympass-line svg:nth-child(2) {
    margin-left: 0;
  }

  .speero-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
  }

  .speero-news svg {
    width: 70%;
  }

  .speero-wellness-line,
  .speero-coming-line {
    margin: 0;
    text-align: center;
  }
  .speero-coming-line {
    margin: 7vh auto !important;
  }
}

@-webkit-keyframes splashEffect {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0.5;
    -webkit-transform: rotate(360deg) scale(15);
    transform: rotate(360deg) scale(15);
  }
  99% {
    -webkit-transform: rotate(360deg) scale(15);
    transform: rotate(360deg) scale(15);
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes splashEffect {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0.5;
    -webkit-transform: rotate(360deg) scale(15);
    transform: rotate(360deg) scale(15);
  }
  99% {
    -webkit-transform: rotate(360deg) scale(15);
    transform: rotate(360deg) scale(15);
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes fadeInFromTop {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes bounce {
  0% {
    opacity: 0;
  }
  70% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(-15%);
    transform: translateY(-15%);
  }
  90% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  95% {
    -webkit-transform: translateY(-7%);
    transform: translateY(-7%);
  }
  97% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  99% {
    -webkit-transform: translateY(-3%);
    transform: translateY(-3%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
  }
  70% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(-15%);
    transform: translateY(-15%);
  }
  90% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  95% {
    -webkit-transform: translateY(-7%);
    transform: translateY(-7%);
  }
  97% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  99% {
    -webkit-transform: translateY(-3%);
    transform: translateY(-3%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
