:root {
  --animation-duration: 3s;
}

.speero-splash-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #fbf8ec;
}

.unscrollable {
  overflow: hidden;
  height: 100%;
}

.test span {
  float: left;
  /* //width: 100px;
  //height: 100px; */
  margin: 0 5px;
  /* //background: #ccc;
  //text-align: center;
  //line-height: 100px; */
  opacity: 0;
  animation: fadeInNew 1s ease-in both;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  height: 100px;
}

.speero-news {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: #fbf8ec;

  //animation-duration: 1s;
  //animation-delay: var(--animation-duration);
  //animation-name: fadeIn;
  //animation-fill-mode: forwards;
  // opacity: 0;
}

.speero-news > * {
  // color: transparent;
}

.test span:nth-child(1) {
  animation-delay: 3s;
}
.test span:nth-child(2) {
  animation-delay: 4s;
}
.test span:nth-child(3) {
  animation-delay: 5s;
}

.speero-splash-wrapper svg {
  animation-duration: var(--animation-duration);
  animation-delay: 1s;
  animation-name: createBox;
  animation-fill-mode: forwards;
}

.speero-fadeindown-animation {
  animation-name: fadeInDown;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  //animation-delay: var(--animation-duration);
}

@keyframes createBox {
  0% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(360deg) scale(10);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  100% {
    transform: rotate(360deg) scale(10);
  }
  100% {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    display: none;
  }
  100% {
    display: block;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInNew {
  from {
    opacity: 0;
    transform: translate3d(0, -300px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
